@model IEnumerable<CMSProject.Core.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container align-items-center pt-xxl-5 pb-xxl-5 d-flex flex-row mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">
                    <a class="btn btn-primary" href="/Category/Create">Create New</a>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
